/*
.hexagon {
    width: 100%;
    height: 300px;
    position: relative;
    transform: scaleX(.5);
}
.hexagon, .hexagon:before, .hexagon:after {
    background: #eee;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.8);
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    top: 44px;
    width: 212px;
    height: 212px;
    transform: rotate(45deg);
}
.hexagon:before {
    left: -246px;
}
.hexagon:after {
    right: -246px;
}
.hexagon .hexagon-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: #eee;
    z-index: 1;
    transform: scaleX(2);
}
.hexagon.expanded:before {
    left: -432px;
}
.hexagon.expanded:after {
    right: -432px;
}*/
