.main
    margin 100px auto
    background #eee
    color #222
    position relative
    transition width .3s ease-in-out
    hexagon(280px, 300px, #eee)

    &:before
        transition left .3s ease-in-out

    &:after
        transition right .3s ease-in-out

    .loader-container
        display none
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background rgba(#000, .3)
        z-index 20

        &:before
            hex-side('left', 300px, 87px, rgba(#000, .3))

        &:after
            hex-side('right', 300px, 87px, rgba(#000, .3))

    &.expanded
        width 650px

        &:before
            left -345px

        &:after
            right -345px

        .result
            z-index 10
            opacity 1

    &.loading
        .loader-container
            display block